{
  "root": true,
  "env": {
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "2020",
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint", "sonarjs", "filenames", "fp"],
  "settings": {},
  "globals": {},
  "rules": {
    "eqeqeq": "error",
    "no-var": "error",
    "arrow-body-style": "error",
    "curly": "error",
    "complexity": ["error", { "max": 6 }],
    "sonarjs/cognitive-complexity": ["error", 6],
    "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "max-lines-per-function": [
      "error",
      { "max": 100, "skipBlankLines": true, "skipComments": true }
    ],
    "require-atomic-updates": 1,
    "filenames/match-regex": ["error", "^[a-zA-Z]+(.test|.mock|.config)?$"],
    "filenames/match-exported": "error",
    "fp/no-let": "error"
  },
  "overrides": [
    {
      "files": ["*.test.ts"],
      "rules": {
        "max-lines-per-function": [
          "error",
          { "max": 200, "skipBlankLines": true, "skipComments": true }
        ]
      }
    },
    {
      "files": ["knex/*/*.ts"],
      "rules": {
        "filenames/match-regex": ["error", "^[a-zA-Z0-9_]+$"]
      }
    },
    {
      "files": ["src/**/__tests__/*.ts"],
      "rules": {
        "fp/no-let": ["off"]
      }
    }
  ]
}
